body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffeef2;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: #d63384;
}

.buttons {
    margin-top: 20px;
    margin-right: 100px;
}

button {
    font-size: 1.2rem;
    padding: 10px 25px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

#yesBtn {
    background-color: #ff4d6d;
    color: white;
}

#noBtn {
    background-color: #ccc;
    position: absolute; /* Crucial for movement */
}

#image-container img {
    width: 200px; /* Adjust size as needed */
    height: auto;
    border-radius: 100px;
    margin-bottom: 20px;
    animation: popIn 0.5s ease-out;
}

@keyframes popIn {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}